<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style_dashboard.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Pay-me</title>
</head>

<body>
    <div class="dashboard">
        <div class="sidebar-container">
            <div id="sidebar"></div>
        </div>
        <div class="container">
            <div id="header-container">
                <h1 id="user-greeting">Hola Usuario</h1> <!-- Saludo del usuario -->
            </div>
            <div class="card-container">
                <div class="card">
                    <h2>Saldo Actual</h2>
                    <button class="add-button" id="showWindowBtn">
                        <i class="material-icons">add</i>
                    </button>
                    <p id="current-balance">$0.00</p>
                </div>
                <div class="card">
                    <h2>Ingresos</h2>
                    <h4>Total de ingresos del mes</h4>
                    <p id="income-summary">$0.00</p>
                </div>
                <div class="card">
                    <h2>Gastos</h2>
                    <h4>Total de gastos del mes</h4>
                    <p id="expense-summary">$0.00</p>
                </div>
                <div class="card">
                    <h2>Mis Tarjetas</h2>
                    <select>

                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="container-overlay" id="overlay"></div>
    <div class="floating-window" id="floatingWindow">
        <h2>Añadir Saldo</h2>
        <form id="addBalanceForm">
            <label for="select-target">Seleccionar Tarjeta:</label>
            <select id="select-target">
            </select>
            <label for="paymentAmount">Monto a Añadir:</label>
            <input type="number" id="paymentAmount" placeholder="$0.00" required>
            <button type="submit">Añadir</button>
            <button type="button" id="closeWindowBtn">Cancelar</button>
        </form>
       
    </div>
    <script src="../scripts/sidebar.js"></script>
    <script src="../scripts/window_floating.js"></script>
    <script src="../scripts/dashboard.js"></script>
</body>

</html>
