<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style_movimientos.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Pay-me</title>
</head>

<body>
    <div class="movements">
        <div class="sidebar-container"></div>
        <div class="container">
            <h1>Movimientos</h1>
            <div class="movements-table">
                <h2>Historial de transacciones</h2>
                <div class="filters">
                    <div class="filter-item">
                        <label for="filter-date">Filtrar por fecha</label>
                        <input type="date" name="filter-date">
                    </div>
                    <div class="filter-item">
                        <label for="filter-type">Filtrar por tipo</label>
                        <select id="filter-type">
                            <option value="all">Todos</option>
                            <option value="income">Ingreso</option>
                            <option value="spent">Gasto</option>
                        </select>
                    </div>
                </div>
                <div class="transactions">
                    <table class="transactions-table">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Monto</th>
                                <th>Tipo</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Here will be the rows of transactions when there are data -->
                        </tbody>
                    </table>
                    <div class="empty-state">
                        <img src="../images/Empty-folder.svg" alt="Icono de carpeta vacía" class="icon">
                        <p>Sin transacciones recientes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../scripts/sidebar.js"></script>
    <script src="../scripts/movement_data.js"></script>
</body>

</html>