<link rel="stylesheet" href="../styles/style_sidebar.css">
<aside class="sidebar">
    <h1 data-link="dashboard.html">Pay-me</h1>
    <div class="btns-menu">
        <button data-link="dashboard.html">
            <i class="material-icons">home</i>
            <span>Dashboard</span>
        </button>
        <button data-link="movimientos.html">
            <i class="material-icons">bar_chart</i>
            <span>Movimientos</span>
        </button>
        <button data-link="transferencias.html">
            <i class="material-icons">sync_alt</i>
            <span>Transferencias</span>
        </button>
        <button data-link="agregar_tarjeta.html">
            <i class="material-icons">add_card</i>
            <span>Agregar Tarjetas</span>
        </button>
        <button data-link="realizar_pagos.html">
            <i class="material-icons">attach_money</i>
            <span>Realizar Pagos</span>
        </button>
        <button data-link="login_registro.html">
            <i class="material-icons">logout</i>
            <span>Cerrar Sesión</span>
        </button>
    </div>
</aside>