body,
html {
    font-family: "Poppins", sans-serif;
    background: #E8EBF2;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.transfers {
    display: flex;
    height: 100%;
}

.container {
    margin-left: 250px;
    padding: 30px;
    width: calc(100% - 250px);
    transition: all 0.3s ease;
}

.transfers-table {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

input {
    padding: 10px;
    border: 1px solid #00000073;
    border-radius: 8px;
    font-size: 14px;
}

button[type="submit"] {
    padding: 12px;
    background-color: #560090;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #7700C6;
}

button[type="button"] {
    padding: 12px;
    background-color: #fff;
    border: 1px solid #000000;
    color: #000000;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #f3e6ff;
}

@media (max-width: 768px) {
    .container {
        margin-left: 70px;
        width: calc(100% - 70px);
    }

    .transfers-table {
        max-width: 90%;
    }

    form input,
    form button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .container {
        margin-left: 0;
        width: 100%;
    }

    .transfers-table {
        max-width: 100%;
        padding: 15px;
    }

    form {
        gap: 10px;
    }

    form input {
        font-size: 12px;
    }

    button[type="submit"],
    button[type="button"] {
        font-size: 14px;
    }
}